.slide {
	position: absolute;
	z-index: 2;
	font-size: 0.7em;
}
.slide-text {
	border: 3px solid #00a3eb;
	color: #00a3eb;
}
.slide-text .content {
	background-color: #00a3eb;
}
.slide-text h1  {
	position: absolute;
	font-size: 1.5em;
	overflow: hidden;
	margin: 0;
	padding: 0.2em;
	text-align: center;
	display: table;
	color: white;
	font-weight: bold;
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}
.slide-text h1 span {
	display: table-cell;
	vertical-align: middle;
}
.slide .content {
	width: 150px;
	height: 150px;
	overflow: hidden;
}
.slide-text .details h4 {
	text-align: center;
}
.slide-notice .author {
	font-size: 1em;
	text-align: center;
}
.slide-image .author {
	float: left;
}
.slide .details, .slide .author {
	display: none; /* TODO: reinstate */
	height: 1em;
	position: relative;
	bottom: 1em;
	overflow: hidden;
}
.slide .details .hashtags {
	position: static;
}
.slide .details .hashtags li {
	float: left;
	font-size: 0.5em;
	margin: 0 0.4em;
}
.slide .details .icon-social-sm {
	margin: 0;
}
.presentation img.preload {
	position: absolute;
	top: -10000px;
}
.presentation > .hashtags {
	z-index: 10;
}
